name: CI
on:
  push:
    branches:
      - master
      - 'release/**'
  pull_request:
jobs:
  main:
    strategy:
      matrix:
        go-version: [1.23.x, 1.24.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 1
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - run: make
    - if: "${{ matrix.platform != 'windows-latest' }}"
      run: sudo make install
    - run: go test -covermode=atomic -race -v ./...
